
@{
    ViewBag.Title = "首頁";
}


<div class="container">
    <!-- 輪播開始 -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/peijia-li-AIWSvNU38H8-unsplash.jpg" alt="..." style="height: 70vh; object-fit: cover;" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/raymond-chiu-pq5-jYkIbM0-unsplash.jpg" alt="..." style="height: 70vh; object-fit: cover;" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/jason-leung-WmTK_QfDxlE-unsplash.jpg" style="height: 70vh; object-fit: cover;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- 輪播結束 -->
</div>
    </div>

<!-- ======= Portfolio Section ======= -->
<div id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>我們希望帶給您的</h2>
                </div>
            </div>
        </div>
        <div class="row wesome-project-1 fix">
            <!-- Start Portfolio -page -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-service">服務</li>
                    <li data-filter=".filter-environment">環境</li>
                    <li data-filter=".filter-products">餐點</li>
                </ul>
            </div>
        </div>

        <div class="row awesome-project-content portfolio-container">

            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-service portfolio-item">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="~/Images/stefan-schauberger-cy-H4onG8PI-unsplash.jpg" alt="" /></a>
                        <div class="add-actions text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="~/Images/stefan-schauberger-cy-H4onG8PI-unsplash.jpg">
                                    <h4>專業侍酒師</h4>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->
            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-environment">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="~/Images/hitesh-dewasi-5JwBbnyZzfc-unsplash.jpg" alt="" /></a>
                        <div class="add-actions text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="~/Images/hitesh-dewasi-5JwBbnyZzfc-unsplash.jpg">
                                    <h4>座位有限，請提前預訂</h4>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->
            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-products">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="~/Images/austin-ban-IS6RwpuEJpY-unsplash.jpg" alt="" /></a>
                        <div class="add-actions text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="~/Images/austin-ban-IS6RwpuEJpY-unsplash.jpg">
                                    <h4>廚師精心製作餐點</h4>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->
            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-environment">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="~/Images/hitesh-dewasi-5JwBbnyZzfc-unsplash.jpg" alt="" /></a>
                        <div class="add-actions text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="~/Images/hitesh-dewasi-5JwBbnyZzfc-unsplash.jpg">
                                    <h4>百萬夜景</h4>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->
            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-products">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="~/Images/stefan-schauberger-cy-H4onG8PI-unsplash.jpg" alt="" /></a>
                        <div class="add-actions text-center text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="~/Images/stefan-schauberger-cy-H4onG8PI-unsplash.jpg">
                                    <h4>千萬酒窖珍藏</h4>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->
            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-service">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="~/Images/yosuke-ota-x_tTO-YBM7s-unsplash (1).jpg" alt="" /></a>
                        <div class="add-actions text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="~/Images/yosuke-ota-x_tTO-YBM7s-unsplash (1).jpg">
                                    <h4>專業服務態度</h4>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->

        </div>
    </div>
</div><!-- End Portfolio Section -->

@section scripts{

    <!-- Vendor JS Files -->
    @*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@
    <script src="~/Scripts/glightbox.min.js"></script>
    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/swiper-bundle.min.js"></script>
    <script src="~/Scripts/validate.js"></script>

    <!-- Template Main JS File -->
    @*<script src="~/Scripts/main.js"></script>*@
}
