body {
  background-color: #fff0e0;
  color: #f9423a;
}
.notification-bar {
  background-color: #f9423a; /* 紅色背景 */
  padding: 10px; /* 設置適當的填充 */
  text-align: center; /* 把字置中 */
}

.notification-bar__text {
  color: #fff0e0;
  text-decoration: none; /* 把字的底線去掉 */
}

/* 導覽列的樣式 */
.navbar {
  border: 1px solid #f9423a; /* 設置邊框，顏色為紅色 */
  border-radius: 0; /* 可以設置邊框的圓角，這裡是0，可以根據需要調整 */
  background-color: #fff0e0; /* 淺粉色背景 */
}

/* 導覽列中連結的文字顏色 */
.navbar-nav .nav-link {
  color: #f9423a; /* 黑色文字 */
}

/* 如果需要更改活動連結的文字顏色，可以使用以下樣式 */
.navbar-nav .nav-link.active {
  color: #f9423a;
}

.navbar-nav a,
.memberNav a {
  color: #f9423a !important;
  text-decoration: none;
}

.btn-primary {
  background-color: #f9423a;
  color: #fff0e0;
  border: none;
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.pst-content {
  padding-left: 10px;
}

#portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 8px 24px;
  font-size: 12px;
  line-height: 20px;
  color: #444;
  border-radius: 50px;
  text-transform: uppercase;

  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border: none;
}

#portfolio-flters li:hover,
#portfolio-flters li.filter-active {
  border-color: #e0e1dc;
  background: #e0e1dc;
  color: #444;
}

#portfolio-flters li:last-child {
  margin-right: 0;
}

.single-awesome-portfolio {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 25%;
  position: relative;
}

.single-awesome-project {
  overflow: hidden;
  margin-bottom: 30px;
}

.first-item {
  margin-bottom: 30px;
}

.awesome-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.awesome-img > a {
  display: block;
  position: relative;
}

.single-awesome-project:hover .awesome-img > a::after {
  opacity: 1;
}

.single-awesome-project:hover .add-actions {
  opacity: 1;
  bottom: 0;
}

.awesome-img > a::after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

.add-actions {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 30px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px 15px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 100%;
}

.project-dec {
  display: block;
  height: 100%;
  width: 100%;
}

.project-dec a {
  display: block;
  height: 100%;
  width: 100%;
}

.project-dec h4 {
  margin-bottom: 5px;
}

.project-dec h4:hover {
  color: #fff;
}

.project-dec h4 {
  color: #ddd;
  font-size: 24px;
  margin-top: -45px;
  padding-top: 50%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

.project-dec span {
  color: #ddd;
  font-size: 13px;
}

.project-action-btn {
  display: block;
  height: 100%;
  text-align: center;
  transition: all 1s ease 0s;
  width: 100%;
}

.project-action-btn li {
  display: block;
  height: 100%;
  width: 100%;
}

.project-action-btn li a {
  display: block;
  height: 100%;
  width: 100%;
}

.awesome-project-content {
  display: flex;
  flex-wrap: wrap;
}

.orderPic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderPic .orderBtn {
  translate: 0 -5rem;
  border-radius: 10px;
  padding: 15px 30px;
  background-color: #fff0e0;
  color: #f9423a;
  border-color: #f9423a;
}

.img {
  width: 30rem;
  height: 20rem;
}

.orderinfo {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

/* 登入 開始*/
.loginSection {
  width: 35%;
  border: 1px solid #f9423a;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.loginSection .login-button {
  background-color: #f9423a;
  color: #fff0e0;
  border: none;
  padding: 10px 20px; /* 可以根据需要调整内边距 */
  border-radius: 5px; /* 可以根据需要调整圆角 */
  cursor: pointer;
}

.login-button:hover {
  background-color: #f9423a; /* 鼠标悬停时的背景颜色 */
}

.loginSection .red-link {
  color: #f9423a;
  text-decoration: none; /* 如果需要去掉下划线 */
}

/* 登入 結束*/

/* 忘記密碼 開始*/
.forgetPasswordSection {
  width: 35%;
  border: 1px solid #f9423a;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.forgetPasswordSection .resetpwd-button {
  background-color: #f9423a;
  color: #fff0e0;
  border: none;
  padding: 10px 20px; /* 可以根据需要调整内边距 */
  border-radius: 5px; /* 可以根据需要调整圆角 */
  cursor: pointer;
}

.login-button:hover {
  background-color: #f9423a; /* 鼠标悬停时的背景颜色 */
}

.forgetPasswordSection .red-link {
  color: #f9423a;
  text-decoration: none; /* 如果需要去掉下划线 */
}

.red-link:hover {
  color: #00b2e3; /* 鼠标悬停时的文字颜色 */
}

/* 忘記密碼結束*/

/* 在CSS中定義一個類別來調整圖片的位置 */
.adjusted-logo {
  margin-left: 250px; /* 您可以根據需要調整這個數值 */
  width: 100px;
  height: 100px;
}

.card-header {
  background-color: #fbbda0;
  color: #f15e3e;
}

.card-body {
  background-color: #fff0e0;
  color: #f15e3e;
  border: 2px solid;
  border-color: #f15e3e;
}

.custom-button {
  background-color: #f15e3e;
  color: #fff0e0;
}

.custom-button:hover {
  background-color: #00b2e3; /* 鼠标悬停时的背景颜色 */
  color: #fff0e0; /* 鼠标悬停时的文字颜色 */
}
.brc {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* loadmore :start */
section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.text_container {
  width: 50vw;
  box-shadow: 5px 10px 18px #888888;
  padding: 10px 20px;
}

.hidden-description {
  display: none;
}

#showMoreButton {
  background-color: #f15e3e; /* 背景颜色 */
  color: #fff0e0; /* 文字颜色 */
  border: none; /* 移除边框 */
  padding: 5px 5px;
  cursor: pointer; /* 鼠标悬停样式 */
  max-width: 150px;
  /* border-radius: 5px; 圓角效果 */
  cursor: pointer;
  display: block;
  margin: 0 auto; /* 水平居中 */
}

#showMoreButton:hover {
  background-color: #00b2e3; /* 鼠标悬停时的背景颜色 */
  color: #fff0e0; /* 鼠标悬停时的文字颜色 */
}

/* loadmore:end */
