
@{
    ViewBag.Title = "開始點餐";
}

<h2>開始點餐</h2>
            <div class="row">
                <h1 class="fw-bolder">
                    熱銷商品
                    <small class="fw-normal fst-italic"></small>
                </h1>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 ">
                    <div class="card">
                        <img src="~/Images/raymond-chiu-pq5-jYkIbM0-unsplash.jpg" class="card-img-top" alt="~/Images/ben-wicks-iDCtsz-INHI-unsplash.jpg">
                        <div class="card-body">
                            <h5 class="card-title">酸菜白肉鍋</h5>
                            <p class="card-text">scrumptious對白菜品質很講究，以古法自然醃漬發酵20多天，酸菜白肉鍋湯頭酸而不嗆、口感溫和，還有濃濃的大骨湯味，且配料相當豐富，採用道地東北高煙囪火鍋，每一口都吃得到豬骨的香與雞骨的甜，搭配酸菜微酸的口感，暖胃又舒心！</p>
                            <a href="#" class="btn btn-primary">加入購物車</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="card">
                        <img src="~/Images/ricky-lk-q8gs-mCYKO4-unsplash.jpg" class="card-img-top" alt="~/Images/ben-wicks-iDCtsz-INHI-unsplash.jpg">
                        <div class="card-body">
                            <h5 class="card-title">A5和牛</h5>
                            <p class="card-text">scrumptious嚴選最佳日本和牛肉，直接空運來台，A5等級信譽保證。美麗色澤、細緻油花</p>
                            <a href="#" class="btn btn-primary">加入購物車</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="card">
                        <img src="~/Images/peijia-li-AIWSvNU38H8-unsplash.jpg" class="card-img-top" alt="~/Images/ben-wicks-iDCtsz-INHI-unsplash.jpg">
                        <div class="card-body">
                            <h5 class="card-title">麻辣鍋</h5>
                            <p class="card-text">scrumptious的麻辣鍋「重麻不重辣」，採用四川特級青花椒，搭配中藥五行，在濕熱的氣候下讓身體不易產生燥熱感。</p>
                            <a href="#" class="btn btn-primary">加入購物車</a>
                        </div>
                    </div>

                </div>


            </div>


        </div>

    </div>
    <div class="row">
        <h3 class="mt-5 fw-bolder">更多商品</h3>
        <table class="table otherProducts">
            <!-- <thread>
                <tr>
                    <td>a</td>
                    <td>b</td>
                </tr>
            </thread>   -->
            <tbody>
                <tr>
                    <td><img src="~/Images/123-22-1024x683.jpg" class="img-fluid rounded otherProduct"></td>
                    <td width="90%">

                        <h6 classxx="fw-bolder text-primary">蛋餃</h6>
                        <p>Lorem ipsum dolor sit amet consecaecati sed molestias soluta. Eligendi, est voluptatum consectetur pariatur porro aut mollitia soluta qui itaque...</p>
                        <p>
                            NT$ 100
                            <a href="#" class="btn btn-primary">加入購物車</a>
                        </p>
                </tr>
                <tr>
                    <td><img src="~/Images/469.jpg" class="img-fluid rounded otherProduct"></td>
                    <td width="90%">

                        <h6 classxx="fw-bolder text-primary">鵪鶉蛋</h6>
                        <p>Lorem ipsum dolor sit amet consecaecati sed molestias soluta. Eligendi, est voluptatum consectetur pariatur porro aut mollitia soluta qui itaque...</p>
                        <p>
                            NT$ 80
                            <a href="#" class="btn btn-primary">加入購物車</a>
                        </p>
                </tr>
                <tr>
                    <td><img src="~/Images/5454_G_1563848434317.jpg" class="img-fluid rounded otherProduct"></td>
                    <td width="90%">

                        <h6 classxx="fw-bolder text-primary">新竹貢丸</h6>
                        <p>Lorem ipsum dolor sit amet consecaecati sed molestias soluta. Eligendi, est voluptatum consectetur pariatur porro aut mollitia soluta qui itaque...</p>
                        <p>
                            NT$ 120
                            <a href="#" class="btn btn-primary">加入購物車</a>
                        </p>
                </tr>
                <tr>
                    <td><img src="~/Images/690cc965ce6100892345f9af0550ff77.jpg" class="img-fluid rounded otherProduct"></td>
                    <td width="90%">

                        <h6 classxx="fw-bolder text-primary">角螺</h6>
                        <p>Lorem ipsum dolor sit amet consecaecati sed molestias soluta. Eligendi, est voluptatum consectetur pariatur porro aut mollitia soluta qui itaque...</p>
                        <p>
                            NT$ 80
                            <a href="#" class="btn btn-primary">加入購物車</a>
                        </p>
                </tr>
                <tr>
                    <td><img src="~/Images/新鮮香菇B.jpg" class="img-fluid rounded otherProduct"></td>
                    <td width="90%">

                        <h6 classxx="fw-bolder text-primary">新鮮香菇</h6>
                        <p>Lorem ipsum dolor sit amet consecaecati sed molestias soluta. Eligendi, est voluptatum consectetur pariatur porro aut mollitia soluta qui itaque...</p>
                        <p>
                            NT$ 350
                            <a href="#" class="btn btn-primary">加入購物車</a>
                        </p>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify content-center">
                <li class="page-item disabled"><a class="page-link" href="#"></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
            </ul>
